
#_scoring of medals
values :
    gold    : 7 
    silver  : 3 
    bronze  : 1 

#_discord channel url
channel_name : test 
channels  : 
    test  : https://discord.com/api/v9/channels/xxxxxxxxxxxxxxxxxx/messages

#_user auth code for discord
discord_auth : mfa.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

#_player picks from above
players : 
    Rob       : [USA, THA, AZE, DEN, BRA, CRO, UZB, GRE]
    Jared     : [USA, FRA, ITA] 
    Ben       : [CHN, JPN, ITA, NED, POL, TUR, IND, CHI] 
    Marquis   : [USA, JPN, KOR] 
    Walter    : [CHN, JPN, GER, FIN, SWE, BEL, ARG, IOA] 
    Ramon     : [CHN, ROC, NED, POL, BEL, IRL, CHI, IND] 
    Jeannette : [JPN, AUS, BRA, GER, FRA, MEX, PHI, ESP] 
    Josh      : [CHN, GBR, JAM, CAN] 
    Zach      : [USA, ROC, AUT] 

#_list of country codes, long names, and costs
countries :
    - [USA, United States, 335]
    - [CHN, China, 235]
    - [GER, Germany, 120]
    - [GBR, United Kingdom, 195]
    - [ROC, Russian Olympic Committee, 160]
    - [KOR, South Korea, 75]
    - [AZE, Azerbaiyán, 25]
    - [BRA, Brazil, 45]
    - [CRO, Croatia, 25]
    - [UZB, Uzbekistán, 20]
    - [GRE, Greece, 10]
    - [FRA, France, 95]
    - [ITA, Italy, 70]
    - [JPN, Japan, 90]
    - [NED, Netherlands, 55]
    - [POL, Poland, 25]
    - [TUR, Turkey, 15]
    - [AUS, Australia, 85]
    - [MEX, Mexico, 10]
    - [SWE, Sweden, 20]
    - [BEL, Belgium, 10]
    - [ARG, Argentina, 15]
    - [ESP, Spain, 50]
    - [JAM, Jamaica, 35]
    - [CAN, Canada, 35]
    - [THA, Thailand, 15]
    - [DEN, Denmark, 25]
    - [IND, India, 5]
    - [CHI, Chinese Taipei, 5]
    - [FIN, Finland, 5]
    - [IOA, Independent Olympic Participant, 5]
    - [IRL, Republic of Irland, 5]
    - [PHI, Philippines, 5]
    - [AUT, Austria, 5]
    - [AFG, Afghanistan, 5]
    - [ALG, Algeria, 5]
    - [ARM, Armenia, 10]
    - [BAH, Bahamas, 5]
    - [BRN, Bahrain, 5]
    - [BLR, Belarus, 20]
    - [BER, Bermuda, 5]
    - [BOT, Botswana, 5]
    - [BUL, Bulgaria, 5]
    - [BRF, Burkina Faso, 5]
    - [BDI, Burundi, 5]
    - [CMR, Cameroon, 5]
    - [CHI, Chile, 5]
    - [COL, Colombia, 20]
    - [CRO, Croatia, 25]
    - [CUB, Cuba, 35]
    - [CYP, Cyprus, 5]
    - [CZE, Czech Republic, 20]
    - [DOM, Dominican Republic, 5]
    - [ECU, Ecuador, 5]
    - [EGY, Egypt, 5]
    - [EST, Estonia, 5]
    - [ETH, Ethiopia, 15]
    - [FIJ, Fiji, 5]
    - [GAB, Gabon, 5]
    - [GEO, Georgia, 15]
    - [GRN, Grenada, 5]
    - [GUA, Guatemala, 5]
    - [HKG, Hong Kong, 5]
    - [HUN, Hungary, 50]
    - [ISL, Iceland, 5]
    - [INA, Indonesia, 10]
    - [IRI, Iran, 25]
    - [ISR, Israel, 5]
    - [CIV, Ivory Coast, 5]
    - [JAM, Jamaica, 35]
    - [KAZ, Kazakhstan, 30]
    - [KEN, Kenya, 40]
    - [KOS, Kosovo, 5]
    - [KUW, Kuwait, 5]
    - [KGZ, Kyrgyzstan, 5]
    - [LAT, Latvia, 5]
    - [LTU, Lithuania, 5]
    - [MAS, Malaysia, 5]
    - [MRI, Mauritius, 5]
    - [MDA, Moldova, 5]
    - [MGL, Mongolia, 5]
    - [MNE, Montenegro, 5]
    - [MAR, Morocco, 5]
    - [NZL, New Zealand, 40]
    - [NIG, Niger, 5]
    - [NGR, Nigeria, 5]
    - [NMC, North Macedonia, 5]
    - [NOR, Norway, 10]
    - [PAN, Panama, 5]
    - [POR, Portugal, 5]
    - [PUR, Puerto Rico, 5]
    - [QAT, Qatar, 5]
    - [ROU, Romania, 15]
    - [SAM, Samoa, 5]
    - [KSA, Saudi Arabia, 5]
    - [SRB, Serbia, 15]
    - [SIN, Singapore, 5]
    - [SVK, Slovakia, 15]
    - [SLO, Slovenia, 10]
    - [RSA, South Africa, 20]
    - [SUD, Sudan, 5]
    - [SUI, Switzerland, 20]
    - [TJK, Tajikistan, 5]
    - [TOG, Togo, 5]
    - [TTO, Trinidad and Tobago, 5]
    - [TUN, Tunissia, 5]
    - [UGA, Uganda, 5]
    - [UKR, Ukraine, 35]
    - [VEN, Venezuela, 5]
    - [VIE, Vietnam, 5]
    - [ZIM, Zimbabwe, 5]
